.question{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    /* border: 1px solid red; */
    box-shadow: 3px 3px 5px #888888;
    color: #000;
    background: #9ef1ac;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    font-family: "Work Sans", sans-serif;
}
.question .option{
    padding: 1rem;
    font-family: "Work Sans", sans-serif;
}